################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
*.csproj.user
src/BackingSource/Properties/PublishProfiles/
