################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StreamProcessing/.vs/StreamProcessing
/NCacheMangedArmTemplate/NCacheManagedTemplate/bin/Debug/staging/NCacheManagedTemplate
/NCacheMangedArmTemplate/.vs/NCacheManagedTemplate/DesignTimeBuild
/NCacheMangedArmTemplate/.vs/NCacheManagedTemplate/v16
