################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StreamProcessing/.vs/StreamProcessing
/NCacheMangedArmTemplate/NCacheManagedTemplate/bin/Debug/staging/NCacheManagedTemplate
/NCacheMangedArmTemplate/.vs/NCacheManagedTemplate/DesignTimeBuild
/NCacheMangedArmTemplate/.vs/NCacheManagedTemplate/v16
/NCacheMangedArmTemplate/.vs/NCacheManagedTemplate/config/applicationhost.config
/StreamProcessing/src/StreamToNCache/obj
/StreamProcessing/src/StreamProcessingUI/obj
/StreamProcessing/src/Models/obj
