<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- change CacheID value to myCache for testing non-cluster features -->
    <add key="CacheID" value="mypartitionedcache"/>
    <!-- Key with which initial data is added in cache.  -->
    <add key="InitialDataSet" value="InitialDataSet"/>
    <!-- Topic on which update notifications will be published. -->
    <add key="TopicName" value="TaxiFareNotifications"/>
    <!-- Key with which training data is added/updated in cache. -->
    <add key="TrainingData" value="TaxiFareDataSet"/>
    <!-- Relative path where ML model and pipeline is saved -->
    <add key="BaseModelsRelativePath" value="../../../../MLModels"/>
    <!-- Relative path from where data is being loaded -->
    <add key="BaseDataRelativePath" value="../../../../Data"/>    
  </appSettings>
</configuration>