<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- change CacheID value to myCache for testing non-cluster features -->
    <add key="CacheID" value="mypartitionedcache"/>
    <!-- Topic on which update notifications will be published. -->
    <add key="TopicName" value="TaxiFareNotifications"/>
    <!-- Key with which training data is added/updated in cache. -->
    <add key="TrainingData" value="TaxiFareDataSet"/>
  </appSettings>
</configuration>