<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="noOfInstances" value="50"/>
    <add key="cacheId" value="dappercache"/>
    <add key="UseCache" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="sql"
    providerName="System.Data.SqlClient"
    connectionString="Data Source=tcp:20.200.20.45,1433;Initial Catalog=Dapper;User ID=sa;Password=4Islamabad;"/>
  </connectionStrings>
</configuration>