<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="noOfInstances" value="50"/>
    <add key="cacheId" value="dappercache"/>
    <add key="UseCache" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="sql"
    providerName="System.Data.SqlClient"
    connectionString="Data Source={server name or tcp connection};Initial Catalog=Dapper;User ID={your user};Password={your password};"/>
  </connectionStrings>
</configuration>
