@{
    ViewData["Title"] = "Home Page";

    <div class="text-center w-100">
        @*<h1 class="display-4">Welcome</h1>
        <p class="alert-heading">We have every thing that you are looking for!</p>
        <p>Type your product details in search box and hit the search button!</p>*@
        <img src="~/index.jpg" class="w-100"/>
    </div>
}
