<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="mongodb://20.200.20.28:27017"/>
    <add key="Database" value="changestreamtest"/>
    <add key="Collection" value="customers"/>
    <add key="CacheName" value="demoCache"/>
    <add key="ProviderName" value="MongoDbNotifyExtensibleDependencyProvider"/>
    <add key="InstanceCount" value="1000"/>
  </appSettings>
</configuration>